.cart {
    display: flex;
    justify-content: start;
    align-items: center;
}

.menu-bars {
    margin-left: 2rem;
    font-size: 2rem;
    background: none;
}

.cart-menu {
    width: 45rem;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: -999;
    top: 0;
    right: -100%;
    transition: all 0.3s ease-in-out;
}

.cart-menu.active {
    right: 0;
    z-index: 9999;
    transition: all 0.3s ease-in-out;
    cursor: default;
}

.cart-menu.active .opacity {
    display: initial;
}

.opacity {
    position: fixed;
    display: none;
    top: 0;
    right: 0;
    z-index: 1;
    background: rgba(0, 0, 0, 0.5);
    height: calc(var(--vh, 1vh) * 100);
    width: 100vw;
}

.cart-menu.active .cart-container {
    right: 0;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: auto;
}

.cart-container {
    background-color: white;
    position: relative;
    display: grid;
    grid-template-rows: 1fr 4fr 1fr;
    align-items: center;
    height: 100%;
    width: 100%;
    transition: all 0.3s ease-in-out;
    z-index: 2;
}

.cart-header {
    color: black;
    margin-top: 2rem;
    width: 100%;
    height: 80px;
    grid-row: 1 / 2;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
}

.cart-title {
    font-size: var(--font-extra-large);
    font-weight: var(--font-bold);
    grid-column: 2 / 3;
}

.cart-header button {
    grid-column: 3 / 4;
    padding-right: 2rem;
    justify-content: end;
    text-decoration: none;
    color: black;
    font-size: 18px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    border-radius: 4px;
}

.cart-content {
    grid-row: 2 / 3;
    display: flex;
    flex-direction: column;
    align-self: start;
}

.cart-empty {
    font-weight: normal;
    padding-bottom: 2rem;
    border-bottom: 1px solid var(--white-400);
    width: 45rem;
}

.cart-shop-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

.cart-shop-description {
    font-size: var(--font-extra-large);
    font-weight: var(--font-bold);
}

.cart-shop-container a {
    color: var(--font-light);
    font-size: var(--font-large);
    font-weight: var(--font-bold);
    width: 25rem;
    background-color: var(--main-color);
    margin-top: 1.5rem;
    padding: 1.5rem;
    border-radius: 3rem;
    text-align: center;
}

.cart-shop-container a:hover {
    opacity: 0.8;
}