.sticky-header {
    z-index: 99;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.discount-container {
    background-color: var(--black-900);
    color: var(--font-light);
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: var(--font-bolder);
    font-size: var(--font-small);
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

.main-header-container {
    padding: 0.3rem 6rem;
    height: 4.25rem;
    background-color: var(--white-800);
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
}

.main-header-first {
    grid-column: 1 / 2;
    align-self: center;
}

.main-header-first a {
    font-weight: var(--font-bold);
    font-size: var(--font-large);
    color: var(--font-dark);
}

[aria-current="page"] {
    text-decoration: none;
}

.main-header-logo {
    grid-column: 2 / 3;
    justify-self: center;
    align-self: center;
    font-size: var(--font-extra-large);
    color: var(--font-dark);
}

.main-header-second {
    grid-column: 3 / 4;
    align-self: center;
    display: flex;
    justify-self: end;
}

.main-header-second button {
    margin-left: 1rem;
    font-weight: var(--font-bold);
    font-size: var(--font-large);
}

.margin-left {
    margin-left: 0.25rem;
}

.header-buttons {
    display: inline-block;
    position: relative;
    font-size: 1rem;
    margin: 0.5rem 1rem 0;
    padding-bottom: .1rem;
}

.header-buttons:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: var(--main-color);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.header-buttons:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}