.product-page-container {
    display: grid;
    grid-template-columns: 35rem 35rem;
    margin: 5rem 0;
    justify-content: center;
}

.product-content {
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
}

.font-gray {
    color: var(--font-gray);
}

.product-title {
    margin-top: 0.5rem;
    font-size: var(--font-extra-large);
    font-weight: var(--font-bold);
}

.product-rating-container {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.product-price {
    margin-top: 1rem;
    font-size: var(--font-extra-large);
    font-weight: var(--font-bold);
}

.product-description {
    margin-top: 2.5rem;
}

.quantity-container {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

.quantity-title {
    text-transform: capitalize;
    font-weight: var(--font-bold);
    margin-bottom: 1rem;
}

.quantity-button-container {
    display: flex;
    flex-direction: row;
    width: 30%;
    height: 2rem;
}

.quantity-button-container button {
    margin: auto 0;
}

.quantity-input {
    width: 25%;
    text-align: center;
}


/* Chrome, Safari, Edge, Opera */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.add-to-cart-button {
    font-size: var(--font-large);
    background: red;
    border-color: red;
    color: var(--font-light);
    margin-top: 2rem;
    width: 50%;
    text-align: center;
    text-transform: capitalize;
    padding: 1rem 0;
}

.add-to-cart-button:hover {
    opacity: 0.8;
}