.shop-first-bg {
    height: 30vh;
    background-image: url(https://images.pexels.com/photos/3965548/pexels-photo-3965548.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 20%;
}

.justify-center {
    display: flex;
    justify-content: center;
}

.text-center {
    margin: auto;
    text-align: center;
}

.shop-first-text {
    color: var(--font-light);
    text-transform: capitalize;
    font-size: 5rem;
}

.capitalize-text {
    text-transform: capitalize;
}

.text-border-black {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.shop-main {
    display: grid;
    grid-template-columns: 1fr 2.5fr;
    gap: 1rem;
    justify-content: center;
    align-self: center;
    max-width: 80rem;
    margin: 5rem auto;
}


/*Filter styles*/

.filter-container {
    grid-column: 1/2;
    margin: 1rem;
}

.filter-label {
    font-size: var(--font-extra-large);
    border-bottom: 1px solid var(--white-400);
    padding-bottom: 0.2rem;
}

.sort-container {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
}

.sort-label {
    font-size: var(--font-large);
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.sort-container button {
    font-size: var(--font-large);
    margin: 0.5rem 0;
    display: flex;
    flex-direction: row;
}

.sort-button-label {
    margin-left: 0.7rem;
}


/* shop container styles */

.shop-container {
    margin: 1rem 3rem;
    grid-column: 2 / 3;
}

.shop-label {
    font-size: var(--font-extra-large);
    font-weight: var(--font-bold);
    padding-bottom: 1rem;
}

.shop-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 25rem;
    column-gap: 2rem;
    row-gap: 3rem;
}

.shop-main-bg {
    background-image: url(https://images.pexels.com/photos/3965548/pexels-photo-3965548.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 20%;
}

.flex-end {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.gradient-bottom {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.247), Transparent);
    height: 100%;
    width: 100%;
}

.shop-main-bg-text {
    color: var(--font-light);
    font-size: var(--font-large);
    font-weight: var(--font-bold);
    background-color: transparent;
    margin-bottom: 1rem;
    text-align: center;
}


/* shop-card container styles */

.shop-card-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 3fr 3fr 1fr 1fr;
    row-gap: 0.5rem;
}

.aspect-ratio-1-1 {
    width: 100%;
    height: 0;
    padding-top: 100%;
}

.item-title {
    font-size: var(--font-large);
    font-weight: var(--font-bold);
}

.item-rating-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.item-rating-number {
    margin-left: 0.25rem;
}

.item-price {
    font-size: var(--font-large);
    font-weight: var(--font-bold);
}