.discount-container {
    background-color: var(--black-900);
    color: var(--font-light);
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: var(--font-bolder);
    font-size: var(--font-small);
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

.main-header-container {
    padding: 0.3rem 6rem;
    height: 4.25rem;
    background-color: var(--white-800);
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
}

.main-header-first {
    grid-column: 1 / 2;
    align-self: center;
}

.main-header-first a {
    font-weight: var(--font-bold);
    font-size: var(--font-large);
    color: var(--font-dark);
}

[aria-current="page"] {
    text-decoration: none;
}

.main-header-logo {
    grid-column: 2 / 3;
    justify-self: center;
    align-self: center;
    font-size: var(--font-extra-large);
    color: var(--font-dark);
}

.main-header-second {
    grid-column: 3 / 4;
    align-self: center;
    display: flex;
    justify-self: end;
}

.main-header-second button {
    margin: 1rem;
    font-weight: var(--font-bold);
    font-size: var(--font-large);
}

.header-buttons {
    display: inline-block;
    position: relative;
    font-size: 1rem;
    margin: 0.5rem 1rem 0;
    padding-bottom: .5rem;
}

.header-buttons:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: .1rem;
    bottom: 0;
    left: 0;
    background-color: var(--main-color);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.header-buttons:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}


/* 
.first-header-wrapper {
    background-repeat: no-repeat;
    box-sizing: inherit;
    padding: 0;
    margin: 0;
    color: #1b1b1b;
    background-color: #f4f4f4;
    z-index: 102;
    position: unset;
}

.first-header-contained {
    background-repeat: no-repeat;
    box-sizing: inherit;
    padding: 0;
    margin: 0;
    color: #1b1b1b;
    align-items: center;
    justify-content: space-between !important;
    position: relative;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    height: 40px;
    font-size: 14px;
    width: calc(1232px + 2 * 20px);
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.nav-item {
    cursor: pointer;
    font-size: 14px;
    background-repeat: no-repeat;
    box-sizing: inherit;
    padding: 0;
    margin: 0;
    color: #1b1b1b;
    position: relative;
    margin-left: 20px;
}

.first-header-flex {
    font-weight: normal;
    letter-spacing: .01em;
    line-height: 1.2;
    background-repeat: no-repeat;
    box-sizing: inherit;
    padding: 0;
    margin: 0;
    color: #1b1b1b;
    align-items: center;
    justify-content: space-between !important;
    position: relative;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
    height: 40px;
    font-size: 14px;
}

.navbar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 100%;
    height: 6.5vh;
    background-color: white;
}

.header-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    max-width: calc(1232px + 2 * 20px);
    width: 100%;
    height: 6.5vh;
    margin-left: auto;
    margin-right: auto;
}

.logo {
    font-size: 1rem;
    padding-top: 2vh;
} 

.float-right {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.search-container {
    display: flex;
    flex-direction: row;
    -webkit-tap-highlight-color: rgba(55, 134, 148, 0.25);
    border: 1px solid #ababab;
    padding: 7px 2.05em 7px 16px;
    width: 215px;
    height: 25px;
}

.search-bar {
    border: 0;
}
*/