.app {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}

:root {
    --main-color: #0b3183;
    --black-900: #161616;
    --white-400: #d6d6d6;
    --white-800: #f1f1f1;
    --white-1000: #ffffff;
    --font-light: #ffffff;
    --font-gray: #7d7d7d;
    --font-dark: #000000;
    --font-extra-large: 2rem;
    --font-large: 1.2rem;
    --font-small: 0.8rem;
    --font-bold: 650;
    --font-bolder: 900;
}

button {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    overflow: hidden;
    outline: none;
}

button:hover {
    cursor: pointer;
}

.display-flex-row {
    display: flex;
    flex-direction: row;
}

.align-center {
    align-items: center;
}