.app {
    max-width: 70rem;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}

button {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    overflow: hidden;
    outline: none;
}

button:hover {
    cursor: pointer;
}